# The Sparks Foundation

## Data Science and Business Analytics

### Stock Market Prediction using Numerical and Textual Analysis - By Sabyasachi Seal

Importing the libraries

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from nltk.stem.porter import PorterStemmer
from matplotlib import pyplot as plt
from nltk.corpus import stopwords
from textblob import TextBlob
from numpy import concatenate
from math import sqrt
import seaborn as sns
import pandas as pd
import numpy as np
import nltk
import re

Setting some prerequisites

In [9]:
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline
nltk.download('stopwords')
nltk.download('vader_lexicon')
ps = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Loading and Testing Stock Market Dataset

In [14]:
df_prices = pd.read_csv('Datasets/stockprices.csv')
df_prices.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2017-03-01  26.010000  26.379999  25.860001  25.900000  24.324486   55900
1  2017-03-02  25.830000  25.920000  25.660000  25.770000  24.202393   41800
2  2017-03-03  25.780001  26.070000  25.459999  25.780001  24.211786   70400
3  2017-03-06  25.680000  25.889999  25.440001  25.830000  24.258745   42600
4  2017-03-07  25.700001  25.879999  25.549999  25.840000  24.268139   45600

Loading and Testing News Dataset

In [19]:
cols = ['Date', 'Catergory', 'News']
df_news = pd.read_csv("Datasets/news.csv", names=cols)
df_news = df_news.dropna(axis=0, how='any')
df_news.head()

       Date Catergory                                               News
0  20010102   unknown  Status quo will not be disturbed at Ayodhya; s...
1  20010102   unknown                Fissures in Hurriyat over Pak visit
2  20010102   unknown              America's unwanted heading for India?
3  20010102   unknown                 For bigwigs; it is destination Goa
4  20010102   unknown               Extra buses to clear tourist traffic